{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>unit</th>
            <th>provider_name</th>
            <th>date_add</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td class="font-weight-bold">{{ object.price }}</td>
                <td>{{ object.unit }}</td>
                <td>{{ object.provider_name }}</td>
                <td>{{ object.date_add | date }}</td>
            </tr>
        {% endfor %}
    </table>
    <button class="button btn-upload">Добавить</button>
{% endblock %}